body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#duck{
		height: 350px;
		width: 300px;
		top: 15%;
		left: 30%;
		border-radius: 70%;
/*		border: 2px dotted yellow;
*/		position: absolute;
	}

	#duck #bottom{
	    height: 230px;
	    width: 310px;
	    position: absolute;
	    top: 60%;
	    left: 55%;
	    background: yellow;
	    border-radius: 50%;
	}

	#duck #chest{
	    height: 140px;
	    width: 150px;
	    position: absolute;
	    top: 34%;
	    left: 42%;
	    background: yellow;
	    border-radius: 50%;
	}

	#duck #wing{
	    width: 0;
	    height: 0;
	    top: 80%;
	    left: 70%;
	    position: absolute;
	    border-top: 50px solid transparent;
	    border-right: 120px solid #D0D000;
	    border-bottom: 100px solid transparent;
	    transform: rotate(0deg);
	    -webkit-animation-duration: 1s;
		-webkit-animation-name: flap;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		-webkit-animation-timing-function: ease-in-out;
	}

	@-webkit-keyframes flap {
		0% {
			transform: rotate(15deg);
		}
		25% {
			transform: rotate(10deg);
		}
		50% {
			transform: rotate(13deg);
		}
		100% {
			transform: rotate(15deg);
		}
	}

	#duck #beak{
		width: 0;
	    height: 0px;
	    top: 46%;
	    right: 55%;
	    position: absolute;
	    border-top: 20px solid transparent;
	    border-right: 60px solid #cc9d07;
	    border-bottom: 40px solid transparent;
	    z-index: 2;
	}

	#duck #eye{
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    background: white;
	    position: absolute;
	    top: 42%;
	    left: 55%;
	}

	#duck #eye #iris{
	    width: 20px;
	    height: 22px;
	    border-radius: 50%;
	    background: black;
	    position: absolute;
	    top: 14%;
	    left: 3%;	
	}

	#duck #eye #iris #color{
		width: 10px;
	    height: 11px;
	    border-radius: 50%;
	    background: green;
	    position: absolute;
	    top: 14%;
	    left: 3%;
	    transition: 1s background ease-out;
  		-webkit-transition: 0.1s background ease-out;
  		-moz-transition: 0.1s background ease-out;
	    -o-transition: 0.1s background ease-out;
	}

	#duck #eye #iris.hover{
		background: red;
	}


	#duck #foot1{
    width: 0;
    height: 0;
    position: absolute;
    bottom: -35%;
    left: 115%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid black;
    border-radius: 50%;
	transform: rotate(0deg);
	-webkit-animation-duration: 1s;
	-webkit-animation-name: flap;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: absolute;
	-webkit-animation-timing-function: ease-in-out;

	}
	#duck #foot2{
    width: 0;
    height: 0;
    position: absolute;
    bottom: -35%;
    right: 1%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid black;
    border-radius: 50%;
    transform: rotate(0deg);
	-webkit-animation-duration: 1s;
	-webkit-animation-name: flap;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: absolute;
	-webkit-animation-timing-function: ease-in-out;

	}


   	#talkbubble {
   	display: none;
    transform: scale(1);
    width: 120px;
    height: 80px;
    top: 38%;
    left: 23%;
    background: purple;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 1;
}

	#talkbubble:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 16px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid purple;
    border-bottom: 13px solid transparent;
    }	


    #talkbubble.night{
    	display: show;
    }

.lilDucks{
		border-radius: 70%;
/*		border: 2px dotted yellow;
*/		position: absolute;
		left: 0%;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: travel;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: absolute;
	-webkit-animation-timing-function: ease-in-out;
	}

.lilDucks.one{
	height: 35px;
	width: 30px;
	top: 10%

}

.lilDucks.two{
	height: 45px;
	width: 33px;
	top: 14%

}

.lilDucks.three{
	height: 25px;
	width: 20px;
	top: 8%

}


@-webkit-keyframes travel {
	0% {
		left(0%);
	}
	25% {
		left(25%);
	}
	50% {
		left(50%);
	}
	100% {
		left(100%);
	}
}

